.user-form.col-lg-9
    .panel.panel-default
        .panel-heading Информация
        .panel-body
            if item
                form
                    .form-group
                        label(class='col-2 col-form-label') Имя
                        input(
                              type='text'
                              name='fullName'
                              value=item.fullName
                              class='userform__input form-control'
                            )
                    .form-group
                        label(class='col-2 col-form-label') Email
                        input(
                              type='email'
                              name='email'
                              value=item.email
                              class='userform__input form-control'
                            )
                    .userform__buttons.text-right
                        button(class='userform__delete-button btn btn-default btn-danger' type="button") Удалить
                        button(class='userform__save-button btn btn-default btn-success' type="submit") Сохранить
            else
                | Выберите или создайте пользователя.